/* ================= GENERAL ================= */

* {
	font-family: 'Montserrat', sans-serif;
}
html, body {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
}

.row {
	margin-right: 0px;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none;
}

section {
	padding: 60px 0;
}

hr {
	text-align: center;
	width: 50%;
	height: 3px;
	border: none;
	background-color: #e74c3c;
}

section hr {
	width: 15%;
	margin-bottom: 60px;
}

h3 {
	font-size: 28px;
	line-height: 38px;
	color: #34495e;
}

h4 {
	font-size: 20px;
	line-height: 32px;
	color: #34495e;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	line-height: 26px;
	color: #34495e;
	font-family: 'Poppins', sans-serif;
}

/* ================= Top part ================= */
.top-navbar {
	padding: 15px 100px;
	overflow: hidden;
}


.logo {
	float: left;
}

.logo img {
	height: 80px;
	width: auto;
	margin: 0px;
}

.call-us {
	float: right;
	margin-bottom: 0px;
	position: relative;
	top: 25px;
}

.call-us a {
	font-size: 25px;
	color: #2980b9;
	font-weight: bold;
}
.my-button,
.my-button:focus{
	border-radius: 3px;
	padding: 15px 25px;
	background-color: #e74c3c;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	outline: none !important;
	border: none;
	width: 100%;
	font-size: 18px;
}

.my-button:hover{
	background-color: #c0392b;
	color: #fff;
}


/* ================= Header-Banner================= */

.hero-banner {
	background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/hero2.jpg');
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/hero2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	border-top: 5px solid #e74c3c;
}


/* === Hero text  ==== */
.hero-text {
	position: relative;
	top: 130px;
}
.hero-text h1 {
	color: #fff;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	text-transform: uppercase;
}

.hero-text p {
	color: #fff;
	font-size: 30px;
	font-family: 'Poppins', 'Arial', sans-serif;
}


/* === Hero form  ==== */
.hero-form{
	background: rgba(254,253,531,0.7);
	background: #FEFDFB;
	border: none;
	position: relative;
	top: 80px;
	transform: scale(0.9);
	transition: transform 0.7s;
}

.hero-form:hover {
	transform: scale(1);
}
.form-control {
	padding: 25px;
	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border: 1px solid rgba(231, 76, 60,0.5);
	border-left: 4px solid rgba(231, 76, 60,0.7);
}

form h2, form p {
	color: #34495e;
	text-align: center;
}

form h2 {
	font-size: 35px;
}

form p {
	font-size: 18px;
	font-family: 'Poppins', 'Arial', sans-serif;
}
/* ========== Section how it works ============= */


.how-it-works i{
	font-size: 70px;
	color: #27ae60;
	margin-bottom: 20px;
}

.how-it-works hr {
	width: 15%;
	margin-bottom: 60px;
}

.how-it-works p {
	padding-bottom: 30px;
	color: rgba(44, 62, 80,.8);
}
/* ========== Section About-Loan =========== */
.details {
	background-color: #34495e;
}

.details  h3 {
	color: #fff;
}

.details-box hr {
	margin-bottom: 20px;
}

.loan-terms {
	list-style-type:square;
}


.loan-terms li {
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 18px;
	color: rgba(44, 62, 80,.8);
}

.details-box {
	transform: scale(0.9);
	transition: transform 0.7s;
}
.details-box:hover {
	transform: scale(1.0);
}
