/* ================= GENERAL ================= */

* {
	font-family: 'Montserrat', sans-serif;
}
html, body {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none;
}


/* ================= Top part ================= */
.top-navbar {
	padding: 15px 100px;
	overflow: hidden;
}


.logo {
	float: left;
}

.logo img {
	height: 80px;
	width: auto;
}

.call-us {
	float: right;
	margin-bottom: 0px;
	position: relative;
	top: 25px;
}

.call-us a {
	font-size: 25px;
	color: rgba(41, 128, 185,1.0);
	font-weight: bold;
}
.my-button,
.my-button:focus{
	border-radius: 3px;
	padding: 15px 25px;
	background-color: #e74c3c;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.my-button:hover{
	background-color: #c0392b;
	color: #fff;
}


/* ================= Header-Banner================= */

.hero-banner {
	background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/hero2.jpg');
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/hero2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	border-top: 5px solid rgba(231, 76, 60,1)
}


/* === Hero text  ==== */
.hero-text {
	position: relative;
	top: 130px;
}
.hero-text h1 {
	color: #fff;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	text-transform: uppercase;
}

.hero-text p {
	color: #fff;
	font-size: 30px;
	font-family: 'Poppins', 'Arial', sans-serif;
}


/* === Hero form  ==== */
.hero-form{
	background: rgba(254,253,531,0.7);
	background: #FEFDFB;
	border: none;
	position: relative;
	top: 80px;
}
.form-control {
	padding: 25px;
	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border: 1px solid rgba(231, 76, 60,0.5);
	border-left: 4px solid rgba(231, 76, 60,0.7);
}

.deals-button {
	outline: none !important;
	border: none;
	width: 100%;
	font-size: 18px;
}

form h2, form p {
	color: #34495e;
	text-align: center;
}

form h2 {
	font-size: 35px;
}

form p {
	font-size: 18px;
	font-family: 'Poppins', 'Arial', sans-serif;
}

hr {
	text-align: center;
	width: 50%;
	height: 3px;
	border: none;
	background-color: #e74c3c;
}
