


@media (min-width: 501px) and (max-width:650px) {
	.top-navbar {
		padding: 5px 20px;
	}
}

@media (max-width: 500px) {
	.top-navbar {
		padding:5px 20px;
	}

	.my-button,
	.my-button:hover,
	.my-button:focus {
		padding: 10px;
	}

	.hero-banner {
		height: 100vh;
	}

	.hero-form {
		background: rgba(0,0,0,.3);
		margin-top: -30px;
	}

	.hero-text {
		top: 30px;
		font-weight: bold;
	}
	.hero-text h1 {
		font-size: 30px;
	}
	.hero-text p {
		font-size: 16px;
	}


	form p, form h2 {
		color: #fff;
	}

	form h2 {
		font-size: 25px;
	}

	form p {
		font-size: 16px;
	}


	.form-control {
		padding: 25px;
	}
}

/*@media (max-width: 321px) {
	.hero-form {
		top: 55px;
	}

	form h2 {
		margin-top: 0px;
	}
}*/
